*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink: #ff6392;
  --light-blue: #7fc8f8;
  --blue: #5aa9e6;
  --vanilla: #f9f9f9;
  --yellow: #ffe45e;
  --black: #000;
  --white: #fff;
  --grey: grey;
  --gold: rgb(255, 217, 0);
}
body {
  height: 100vh;
}
.header-container {
  background-color: var(--white);
  opacity: 0.95;
  position: sticky;
  top: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 1rem 5rem;
}
.logo {
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}

li {
  margin: 0 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
}
.navbtn {
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 10px;
  color: var(--black);
  font-weight: 600;
  font-size: 1.1rem;
  background-color: var(--white);
  transition: background-color 0.5s, color 0.5s, text-decoration 1s;
}
/*#grey {
  transition: background-colors 0.5;
}
#grey:hover {
  background-color: var(--grey);
  color: var(--white);
}
#yellow {
  transition: background-colors 0.5;
}
#yellow:hover {
  background-color: var(--gold);
  color: var(--black);
}*/
.navbtn:hover {
  background-color: var(--black);
  color: var(--white);
  /*text-decoration: underline;*/
}
.itemcontainer {
  margin: 1rem;
}
.itemslist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10rem 5rem;
  margin: 1rem 2rem;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  max-height: 40vh;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px 0 0 20px;
  }
}
.item-text {
  border-radius: 0 20px 20px 0;
  background-color: ;
  border: 1px solid var(--black);
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  padding: 0 0.5rem;
}
a {
  text-decoration: none;
  color: var(--black);
  padding: 0.5rem 2rem;
  background-color: var(--yellow);
  border: 1px solid var(--black);
  border-radius: 20px;
}
.buy {
  margin: 1rem 25% 0 25%;
}
